/*------------------
common
------------------*/
html {
  font-size: 100%;
}

body {
  font-family: 'Noto Serif JP', 'Noto Serif', serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: .4rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  padding: 100px 0 70px 0;
}

.sec-title {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.sec-title.left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.sec-title.left::after {
  content: "";
  width: 200px;
  margin-left: 30px;
  border-bottom: 5px solid #282F35;
}

.sec-title.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto 70px;
}

.sec-title.right::after {
  content: "";
  width: 200px;
  margin-left: 30px;
  border-bottom: 5px solid #fff;
}

.sec-copy {
  font-size: 90px;
  font-weight: bold;
  margin: 70px auto 0;
  max-width: 1200px;
}

.sec-copy.right {
  color: #171717;
  opacity: 5%;
  text-align: right;
}

.sec-copy.left {
  color: #fff;
  opacity: 10%;
  text-align: left;
}

.button {
  text-align: center;
  height: 60px;
}

.button .button-inner {
  line-height: 60px;
  text-decoration: none;
  color: #171717;
  background-color: #f7d540;
  padding: 17px 70px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 5px #1B1310;
          box-shadow: 0 0 5px #1B1310;
  font-weight: bold;
  letter-spacing: .1rem;
}

/*------------------
header
------------------*/
#header {
  position: relative;
}

#header .header-top {
  height: 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
}

#header .header-top .header-inner {
  max-width: 1260px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 30px;
}

#header .header-top .header-inner .header-logo {
  line-height: 1em;
}

#header .header-top .header-inner .header-logo a {
  display: block;
  color: #fff;
}

#header .header-top .header-inner #nav .flex-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#header .header-top .header-inner #nav .flex-item li a {
  color: #fff;
}

#header .header-top .header-inner #nav .flex-item li:not(:last-of-type) {
  margin-right: 30px;
}

#header .header-top.change {
  z-index: 20;
  background-color: #282F35;
}

#header .header-text {
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 52%;
  left: 10%;
  text-align: center;
}

#header .header-text h2 {
  font-size: 70px;
  margin-bottom: 30px;
}

#header .header-text p {
  font-size: 40px;
}

/*------------------
concept
------------------*/
#concept .wrapper .concept-text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 60px;
}

#concept .wrapper .flex-item .item {
  width: 50%;
}

#concept .wrapper .flex-item p {
  font-size: 16px;
  font-weight: bold;
  line-height: 2em;
  text-align: left;
  padding: 47px 60px 47px 0;
}

#concept .wrapper .flex-item .concept-img {
  padding-left: 60px;
}

/*------------------
works
------------------*/
#works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
}

#works .flex-item {
  margin-bottom: 80px;
}

#works .flex-item .item {
  width: 32%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px #171717;
          box-shadow: 0 0 8px #171717;
}

#works .flex-item .item p {
  padding: 25px 20px;
  font-size: 16px;
  line-height: 2em;
}

/*------------------
service
------------------*/
#service .flex-item {
  margin-bottom: 70px;
}

#service .flex-item .item {
  width: 33.3%;
  background-size: cover;
}

#service .flex-item .item a {
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  -webkit-transition: .3s;
  transition: .3s;
}

#service .flex-item .item a:hover {
  background-color: rgba(40, 47, 53, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

#service .flex-item .item1 {
  background-image: url(../img/service-img01@2x.jpg);
  line-height: 100%;
}

#service .flex-item .item2 {
  background-image: url(../img/service-img02@2x.jpg);
}

#service .flex-item .item3 {
  background-image: url(../img/service-img03@2x.jpg);
}

/*------------------
contact
------------------*/
#contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
}

#contact .wrapper {
  text-align: center;
}

#contact .wrapper p {
  color: #fff;
  margin-bottom: 40px;
}

/*------------------
footer
------------------*/
#footer {
  height: 80px;
  text-align: center;
}

#footer p {
  font-size: 14px;
  font-weight: bold;
  line-height: 80px;
}

/*------------------
contact-page
------------------*/
.contact-header {
  background-image: url(../img/contact-page-bgi@2x.jpg);
  background-size: cover;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header .page-title {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  color: #fff;
  text-align: center;
}

.contact-header .sec-copy {
  position: absolute;
  left: 40px;
  bottom: 40px;
}

.contact-main .form-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 100px 15px 80px;
}

.contact-main .form-wrapper label[for] {
  display: block;
}

.contact-main .form-wrapper .full-width {
  width: 100%;
  border: 1px solid #141414;
}

.contact-main .form-wrapper .form-item {
  margin-bottom: 25px;
}

.contact-main .form-wrapper .form-item input[type='checkbox'] {
  margin-right: 10px;
}

.contact-main .form-wrapper .form-item .check-item {
  margin-right: 15px;
  cursor: pointer;
}

.contact-main .form-wrapper textarea {
  margin-bottom: 80px;
}

.contact-main .form-wrapper .button .button-inner {
  padding: 0 70px;
}
/*# sourceMappingURL=style.css.map */