@charset "UTF-8";

/*------------------
common
------------------*/
html {
  font-size: 100%;
}

body {
  font-family: 'Noto Serif JP', 'Noto Serif', serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: .4rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 100px 0 70px 0;
}

.sec-title {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  &.left {
    justify-content: start;
    &::after {
      content: "";
      width: 200px;
      margin-left: 30px;
      border-bottom: 5px solid #282F35;
    }
  }
  &.right {
    justify-content: flex-end;
    color: #fff;
    &::after {
      content: "";
      width: 200px;
      margin-left: 30px;
      border-bottom: 5px solid #fff;
    }
  }
}

.sec-copy {
  font-size: 90px;
  font-weight: bold;
  margin: 70px auto 0;
  max-width: 1200px;
  &.right {
    color: #171717;
    opacity: 5%;
    text-align: right;
  }
  &.left {
    color: #fff;
    opacity: 10%;
    text-align: left;
  }
}

/*------------------
header
------------------*/
#header {
  position: relative;
  .header-top {
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    .header-inner {
      max-width: 1260px;
      align-items: center;
      margin: 0 auto;
      padding: 30px;
      .header-logo  {
        line-height: 1em;
        a {
          display: block;
          color: #fff;
        }
      }
      #nav {
        .flex-item {
          justify-content: end;
          li {
            a {
              color: #fff;
            }
            &:not(:last-of-type) {
              margin-right: 30px;
            }
          }
        }
      }
    }
    &.change {
      z-index: 20;
      background-color: #282F35;
    }
  }
  .header-text {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 52%;
    left: 10%;
    text-align: center;
    h2 {
      font-size: 70px;
      margin-bottom: 30px;
    }
    p {
      font-size: 40px;
    }
  }
  // .slick-prev {
  //   left: 15px;
  //   z-index: 100;
  // }
  // .slick-next {
  //   right: 15px;
  //   z-index: 99;
  // }
}

