@charset "UTF-8";

/*------------------
common
------------------*/
html {
  font-size: 100%;
}

body {
  min-width: 375px;
  font-family: 'Noto Serif JP', 'Noto Serif', serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: .4rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 100px 15px 70px;
}

.sec-title {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  &.left {
    justify-content: start;
    &::after {
      content: "";
      width: 200px;
      margin-left: 30px;
      border-bottom: 5px solid #282F35;
    }
  }
  &.right {
    justify-content: flex-end;
    color: #fff;
    max-width: 1200px;
    margin: 0 auto 70px;
    &::after {
      content: "";
      width: 200px;
      margin-left: 30px;
      border-bottom: 5px solid #fff;
    }
  }
}

.sec-copy {
  font-size: 90px;
  font-weight: bold;
  margin: 70px auto 0;
  max-width: 1200px;
  &.right {
    color: #171717;
    opacity: 5%;
    text-align: right;
  }
  &.left {
    color: #fff;
    opacity: 10%;
    text-align: left;
  }
}

.button {
  text-align: center;
  height: 60px;
  .button-inner {
    line-height: 60px;
    text-decoration: none;
    color: #171717;
    background-color: hsl(49, 92%, 61%);
    padding: 17px 70px;
    user-select: none;
    border-radius: 30px;
    box-shadow: 0 0 5px #1B1310;
    font-weight: bold;
    letter-spacing: .1rem;
  }
}

/*------------------
header
------------------*/
#header {
  position: relative;
  .header-top {
    height: 96px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    .header-inner {
      max-width: 1200px;
      align-items: center;
      margin: 0 auto;
      padding: 30px 15px;
      .header-logo  {
        line-height: 1em;
        a {
          display: block;
          color: #fff;
        }
      }
      #nav {
        .flex-item {
          justify-content: end;
          li {
            a {
              color: #fff;
            }
            &:not(:last-of-type) {
              margin-right: 30px;
            }
          }
        }
      }
      .menu-btn {
        display: none;
      }
    }
    &.change {
      z-index: 20;
      background-color: #282F35;
    }
  }
  .header-text {
    max-width: 1200px;
    padding: 0 15px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: 177px;
    left: 120px;
    text-align: center;
    h2 {
      font-size: 70px;
      margin-bottom: 30px;
    }
    p {
      font-size: 40px;
      .sp-only {
        display: none;
      }
    }
  }
}

/*------------------
concept
------------------*/
#concept {
  .wrapper {
    .concept-text {
      text-align: center;
      font-size: 30px;
      margin-bottom: 60px;
    }
    .flex-item {
      .item {
        width: 50%;
      }
      p {
        font-size: 16px;
        font-weight: bold;
        line-height: 2em;
        text-align: left;
        padding: 47px 60px 47px 0;
      }
      .concept-img {
        padding-left: 60px;
      }
    }
  }
}

/*------------------
works
------------------*/
#works {
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  .flex-item {
    margin-bottom: 80px;
    .item {
      width: 32%;
      background-color: #fff;
      box-shadow: 0 0 8px #171717;
      p {
        padding: 25px 20px;
        font-size: 16px;
        line-height: 2em;
      }
    }
  }
}

/*------------------
service
------------------*/
#service {
  .flex-item {
    margin-bottom: 70px;
    .item {
      width: 33.3%;
      background-size: cover;
      a {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
        line-height: 320px;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
        transition: .3s;
        &:hover {
          background-color: rgba($color: #282F35, $alpha: .7);
          transition: .3s;
        }
      }
    }
    .item1 {
      background-image: url(../img/service-img01@2x.jpg);
      line-height: 100%;
    }
    .item2 {
      background-image: url(../img/service-img02@2x.jpg);
    }
    .item3 {
      background-image: url(../img/service-img03@2x.jpg);
    }
  }
}

/*------------------
contact
------------------*/
#contact {
  background-image: url(../img/contact-bgi@2x.jpg);
  background-size: cover;
  .wrapper {
    text-align: center;
    p {
      color: #fff;
      margin-bottom: 40px;
    }
  }
}

/*------------------
footer
------------------*/
#footer {
  height: 80px;
  text-align: center;
  p {
    font-size: 14px;
    font-weight: bold;
    line-height: 80px;
  }
}

/*------------------
contact-page
------------------*/
.contact-header {
  background-image: url(../img/contact-page-bgi@2x.jpg);
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-title {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-align: center;
  }
  .sec-copy {
    position: absolute;
    left: 40px;
    bottom: 40px;
  }
}
.contact-main {
  .form-wrapper {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 15px 80px;
    label[for] {
      display: block;
      margin-bottom: 5px;
    }
    .full-width {
      width: 100%;
      border: 1px solid #141414;
    }
    .form-item {
      margin-bottom: 25px;
      input[type='checkbox'] {
        margin-right: 10px;
      }
      .check-item {
        margin-right: 15px;
        cursor: pointer;
      }
    }
    textarea {
      margin-bottom: 80px;
    }
    .button {
      .button-inner {
        padding: 0 70px;
      }
    }
  }
}

/*------------------
SP
------------------*/
@media screen and (max-width: 600px) {
  /*------------------
  common-sp
  ------------------*/
  section {
    padding: 100px 15px 40px;
  }

  .sec-title {
    font-size: 30px;
    margin-bottom: 50px;
    &.left {
      justify-content: start;
      &::after {
        width: 90px;
      }
    }
    &.right {
      margin: 0 auto 50px;
      &::after {
        width: 90px;
      }
    }
  }

  .sec-copy {
    font-size: 40px;
    font-weight: bold;
    margin: 40px auto 0;
    letter-spacing: normal;
  }

  /*------------------
  header-sp
  ------------------*/
  #header {
    background-image: url(../img/fv-bgi_01@2x.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-top {
      .header-inner {
        .header-logo  {
          font-size: 26px;
          letter-spacing: 2px;
        }
        #nav {
          display: none;
          width: 100%;
          height: 100%;
          background-color: #282F35;
          position: fixed;
          top: 0;
          left: 0;
          .flex-item {
            flex-direction: column;
            li {
              text-align: center;
              font-size: 16px;
              &:not(:last-of-type) {
                margin-right: 0;
                margin-bottom: 30px;
              }
            }
          }
          &.open {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 10;
          }
        }
        .menu-btn {
          display: block;
          width: 30px;
          height: 30px;
          position: relative;
          top: 0;
          cursor: pointer;
          z-index: 20;
          span {
            display: block;
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: #fff;
            border-radius: 4px;
            transition: all .3s;

            &:first-child {
              top: 4px;
            }

            &:nth-child(2),
            &:nth-child(3) {
              top: 14px;
            }

            &:last-child {
              bottom: 4px;
            }
          }
          &.open {
            position: fixed;
            top: 30px;
            right: 15px;

            span {
              &:first-child {
                transform: translateY(10px) rotate(-45deg);
                opacity: .7;
              }

              &:nth-child(2) {
                transform: rotate(45deg);
                opacity: .7;
              }

              &:nth-child(3) {
                transform: rotate(-45deg);
                opacity: .7;
              }

              &:last-child {
                transform: translateY(-10px) rotate(45deg);
                opacity: .7;
              }
            }
          }
        }
        &.change {
          z-index: 20;
          background-color: #282F35;
        }
      }
    }
    .header-fv {
      display: none;
    }
    .header-text {
      position: static;
      width: 100%;
      h2 {
        font-size: 37px;
        margin-bottom: 60px;
        letter-spacing: normal;
      }
      p {
        font-size: 30px;
        .sp-only {
          display: block;
        }
      }
    }
    &.contact-header {
      background-image: url(../img/contact-page-bgi@2x.jpg);
      background-position: center;
      height: 360px;
    }
  }

  /*------------------
  concept-sp
  ------------------*/
  #concept {
    .wrapper {
      .concept-text {
        font-size: 20px;
        margin-bottom: 34px;
        .pc-only {
          display: none;
        }
      }
      .flex-item {
        flex-direction: column;
        .item {
          width: 100%;
        }
        p {
          padding: 0;
          margin-bottom: 30px;
        }
        .concept-img {
          padding: 0;
          img {
            height: 150px;
            object-fit: cover;
            object-position: bottom;
          }
        }
      }
    }
  }

  /*------------------
  works-sp
  ------------------*/
  #works {
    background-position: center;
    .flex-item {
      flex-direction: column;
      .item {
        width: 100%;
        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
      }
    }
  }

  /*------------------
  service-sp
  ------------------*/
  #service {
    overflow: hidden;
    .flex-item {
      margin-bottom: 40px;
      flex-direction: column;
      .item {
        width: 100%;
        background-size: cover;
        &:not(:last-of-type) {
          margin-bottom: 30px;
        }
        a {
          line-height: 250px;
          font-size: 20px;
        }
      }
    }
  }

  /*------------------
  contact-sp
  ------------------*/
  #contact {
    background-position: center;
  }

  /*------------------
  contact-page-sp
  ------------------*/
  .contact-header {
    .page-title {
      font-size: 30px;
    }
    .sec-copy {
      left: 15px;
    }
  }
  .contact-main {
    .form-wrapper {
      label {
        display: block;
        margin-bottom: 5px;
      }
      .check {
        margin-bottom: 15px;
      }
      textarea {
        height: 170px;
      }
    }
  }
}
